<p1>these are the trains which will go to your selected start and destination.
    <br>
    The table includes the journey date, time and the basic fare(which can increase according to the seat you select)
</p1>
<table border=1>
    
    <tr>
        <th>Train number</th>
        <th>Route number</th>
        <th>Journey date</th>
        <th>Starts</th>
        <th>Reaches</th>
        <th>Basefare</th>
    </tr>
    {% for i in routedetails %}
    <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[4]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[5]}}</td>
        
    </tr>
    {% endfor %} 
</table>
<br>
<br>
<br>
<p>Enter the train number and the date of the journey</p>
<form method="POST" action="">
    Train number<input type="text" name="trainno"/>
    <br>
    Date<input type="date" name="j_date"/>
    <br>
    <input type="submit">
</form>